@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset */
:root{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/bg.jpg) repeat-y;
    /* background-size: 100% auto; */
}
a{
    text-decoration: none;
    color: #333;
}
button{
    border: none;
    border-radius: 1.2rem;
}
h1, h2, h3 {
    font-family: "DM Serif Display";
    color: #333;
}
/* 全域(手機) */
#Banner{
    background: url('../images/phone/Banner.png');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5rem;
}
.container{
    width: 85%;
    background-color: rgba(255,255,255, 0.5);
    padding: 20px;
    border-radius: 30px;
    margin: auto;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.desc{
    font-family: Jost;
    color: gray;
    margin-bottom: 20px;
}
.get-started{
    font-family: "Jost";
    padding: 16px 36px;
    color: white;
    background-color:#292F36;
    font-size: 1.125rem;
}
i{
    color: #cda274;
    font-size: 1.125rem;
    margin: 0 0 0 5px;
}
/* Features */
#Features .container{
    display: flex;
    flex-direction: column;

}
#Features .container>h3{
    /* gap: 20px; */
    margin-bottom: 20px;
}
#Features .container>div{
    /* align-items: center; */
    margin-bottom: 20px;
}
#Features .container>div>h3{
    padding: 10px 0;
}
.more{
    font-family: Jost;
    font-weight: 500;
    color: gray;
}

/* About手機 */
section{
    padding: 50px 0px;
}
#About .container{
    display: flex;
    flex-direction: column;
}
.section-title{
    font-size: 2rem;
    /* text-align: center; */
    margin-bottom: 20px;
}
.intro-box{
    order: 1;
    margin-bottom: 5px;
}
.intro-box .desc{
    /* text-align: left; */
}
.contact-group{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
}
.circle-icon{
    width: 90px;
    height: 90px;
    background-color: #f0e6dd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.circle-icon i{
    font-size: 2rem;
}
.phone{
    font-size: 1.5rem;
    font-family: "Jost";
    font-weight: bold;
    color: #333;
}
.intro-img img{
    width: 100%;
    margin: 30px auto;
    border-radius: 0 5rem 0 5rem;
    order: 1;
}
/* 平板 */
@media screen and (min-width: 481px) and (max-width: 1023px) {
    #Banner {
        background: url('../images/tablet/Banner.jpg');
        background-size: cover;
        background-position: bottom center;
        border-bottom-left-radius: 10rem;
    }
    .container{
        /* justify-content: flex-start; */
        background-color: transparent;
    }
    .desc{
        font-size: 22px;
    }
    .hero-info{
        width: 45%;
    }
    #About .container{
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
    .contact-group{
        /* justify-content: flex-start; */
    }
    .intro-box{
        width: 40%;
        order: 0;
    }
    .intro-img{
        width: 55%;
    }
    .intro-img img{
        margin: 0;
    }
}

/* 電腦 */
@media screen and (min-width: 1024px){
    #Banner {
        background: url('../images/Banner.jpg');
        background-size: cover;
        background-position: bottom center;
        height: 600px;
        border-bottom-left-radius: 15rem;
    }
    .container{
        width: 80%;
        max-width: 1140px;
        background-color: transparent;
    }
    .desc{
        font-size: 22px;
    }
    h1{
        width: 25%;
    }
/* About電腦 */
    #About .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.intro-box{
        width: 40%;
        order: 0;
    }
    .intro-img{
        width: 55%;
    }
.contact-group{
    display: flex;
    align-items: center;
    gap: 5px;
}
.intro-img img{
    width: 100%;
    margin: 30px auto;
    border-radius: 0 1.2rem 0 1.2rem;
}
/* Features */
#Features .container{
    display: flex;
    flex-direction: row;
}
}